#page-transaction-list {
  font-family: Lato, Arial, serif;

  .text-greeting {
    margin: 5px 10px;
    font-size: 18pt;
  }

  .text-notice {
    margin: 0 10px;

    .amount {
      color: #fd6542;
    }
  }

  .input-container {
    display: flex;
    width: 100%;
    margin: 15px 0 20px;
  
    .icon {
      padding: 10px;
      background: #ffffff;
      color: #d0d2d3;;
      min-width: 30px;
      text-align: center;
      border: 1px solid #d0d2d3;
      border-right: none;
    }
    
    .input-field {
      width: 100%;
      padding: 10px;
      outline: none;
      border: 1px solid #d0d2d3;
      border-left: none;
    }
    
    .select-field {
      border: 1px solid #d0d2d3;
      border-left: none;
      background-color: #ffffff;
    }

    .select-field:focus {
      outline: none;
    }
  }
}

@media screen and (max-width: 576px) {
  #page-transaction-list {
    .text-greeting {
      font-size: 16pt;
    }
  }
}
